page-medinfo {
    .page{
        background: linear-gradient(to bottom right,rgba(248, 248, 242, 0.952),rgba(66, 230, 12,0.94))
    }
    .but{
        font-size: 12px;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 90%;
        margin-left: 10px;
        height: 80px
    }
    
      
 

}
