page-appoint {
.inner{
    width: 2000px;
    height: 100%;

}
.but{
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    margin-left: 10px;
    height: 60px
}
.toolbar-background{
    background-color: cornflowerblue;
}
.but1{
    margin-left: 5px;
    height: 40px
}
}
