<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SIGN UP PAGE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "page">


    <div class="h1">
        <p>ENTER INFORMATION</p>
      </div>


<div class ="ss">
    <form [formGroup] = "formgroup">
        <ion-list>
         
        <ion-item class="kk">
            <ion-label >Full Name :</ion-label>
          <ion-input type="text" formControlName="cname"  [(ngModel)]="name1"></ion-input>
          </ion-item>
          <ion-item *ngIf="cname.hasError('required') && cname.touched">
              <p class="pp"><b>Name Is Required</b></p>
            </ion-item>
            <ion-item *ngIf="formgroup.controls.cname.hasError('pattern') && formgroup.controls.cname.touched">
              <p class="pp"><b>Name Should Only have Alphabets</b></p>
          </ion-item>
      
        
      
      
      
          <ion-item class="kc">
              <ion-label >Age :</ion-label>
            <ion-input type="text" formControlName="eage"  [(ngModel)]="age"></ion-input>
            </ion-item>
            <ion-item *ngIf="eage.hasError('required') && eage.touched">
                <p class="pp"><b>Age Is Required</b></p>
              </ion-item>
              <ion-item *ngIf="formgroup.controls.eage.hasError('pattern') && formgroup.controls.eage.touched">
                <p class="pp"><b>Age Should Only have Numbers</b></p>
            </ion-item>
      
      
      
       <ion-item class="kt">
           <ion-label >Email :</ion-label>
          <ion-input type="Email" formControlName="mail" [(ngModel)]="email1"></ion-input>
         </ion-item>
         <ion-item *ngIf="mail.hasError('required') && mail.touched">
            <p class="pp"><b>Email Is Required</b></p>
          </ion-item>
          <ion-item *ngIf="mail.hasError('pattern') && mail.touched">
            <p class="pp"><b>Email Is InInvalid</b></p>
          </ion-item>




        <ion-item class="kl">
            <ion-label>Password :</ion-label>
            <ion-input type="password" formControlName="pass"[(ngModel)]="pass1"></ion-input>
          </ion-item>
          <ion-item *ngIf="pass.hasError('required') && pass.touched">
              <p class="pp"><b>Password Is Required</b></p>
            </ion-item>
            <ion-item *ngIf="formgroup.controls.pass.hasError('minlength') && formgroup.controls.pass.touched">
              <p class="pp"><b>Password Should not be less the 6</b></p>
          </ion-item>
          <ion-item *ngIf="formgroup.controls.pass.hasError('pattern') && formgroup.controls.pass.touched">
            <p class="pp"><b>Password Should Have Numbers and Alphabets only</b></p>
        </ion-item>


    
            <ion-item class="kk">
             <ion-label >Contact Number :</ion-label>
             <ion-input type="text" formControlName="num" [(ngModel)]="num2"></ion-input>
           </ion-item>
           <ion-item *ngIf="num.hasError('pattern') && num.touched">
               <p class="pp"><b>Contact should only have Numbers</b></p>
             </ion-item>
             <ion-item *ngIf="num.hasError('required') && num.touched">
               <p class="pp"><b>Contact is Required </b></p>
             </ion-item>
             <ion-item *ngIf="num.hasError('minlength') && num.touched">
               <p class="pp"><b>Contact should be of atleast 10 Digit</b></p>
             </ion-item>
             <ion-item *ngIf="num.hasError('maxlength') && num.touched">
               <p class="pp"><b>Contact should be of 10 Digit only</b></p>
             </ion-item>
       

     
        <ion-item class="kk">
            <ion-label >Blood Group :</ion-label>
          <ion-input type="text" formControlName="bg"  [(ngModel)]="bg1"></ion-input>
          </ion-item>
          <ion-item *ngIf="bg.hasError('required') && bg.touched">
              <p class="pp"><b>Blood Group Is Required</b></p>
            </ion-item>


            <ion-item class="kk">
                <ion-label >Address :</ion-label>
              <ion-input type="text" formControlName="add"  [(ngModel)]="add1"></ion-input>
              </ion-item>
              <ion-item *ngIf="add.hasError('required') && add.touched">
                  <p class="pp"><b>Address Is Required</b></p>
                </ion-item>


                <ion-item class="kk">
                    <ion-label >Previous Medication:</ion-label>
                  <ion-input type="text" formControlName="pm"  [(ngModel)]="pm1"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="pm.hasError('required') && pm.touched">
                      <p class="pp"><b>If None! Write None</b></p>
                    </ion-item>


                    <ion-item class="kk">
                        <ion-label >Gender :</ion-label>
                      <ion-input type="text" formControlName="gen"  [(ngModel)]="gen1"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="cname.hasError('required') && cname.touched">
                          <p class="pp"><b>Gender Is Required</b></p>
                        </ion-item>
  
      
      
      
      <div>
        <button ion-button block (click) ="insertdata()" [disabled]="!formgroup.valid">Enter Details</button>
        <button ion-button block color="primary"type="Reset">Reset</button>
        </div>
      
      
      
         </ion-list>
        </form>
      </div>
      

</ion-content>
