page-signup {
    .page{
        background: linear-gradient(to bottom right,rgba(248, 248, 242, 0.952),rgba(66, 230, 12,0.94))
    }
    .pp{
        color: red;
    }
    .bg{
        color:#8a2be2;
        font-size: 1.25em;
    }
    .h1{
        text-align: center;
        font-size: 40px;
    }

 .kk{
    border-style: solid;
  border-width: medium;
  border-radius: 50px;
    margin-top: 20px;
 }

 .kc{
     border-style: solid;
    border-width: medium;
    border-radius: 50px;
    margin-top: 20px;
 }

 .kl{
    border-style: solid;
    border-width: medium;
    border-radius: 50px;
    margin-top: 20px;
 }
 .kt{
    border-style: solid;
    border-width: medium;
    border-radius: 50px;
    margin-top: 20px;
 }
}
